<link rel="stylesheet" href="{{ '/css/style.css' | url }}">

<nav>
  <a href="./" class="nav-brand">SLOSH</a>
  <div class="nav-links">
    <a href="team/">Team</a>
    <a href="projects/">Projects</a>
    <a href="publications/">Publications</a>
  </div>
</nav>

<div class="content-container">
<h1>SLOSH</h1>

<h2>About</h2>

<h3>Contact Us</h3>
</div>

<footer class="site-footer">
    <div class="footer-inner">
        <h2 class="footer-title">Thank you to our partners!</h2>
        <div class="partner-grid">
            <a href="https://www.noaa.gov/" class="partner-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/79/NOAA_logo.svg" alt="NOAA" class="partner-logo">
            </a>
            <a href="https://www.wrrc.hawaii.edu/ciroh-hawaii/" class="partner-link">
                <img src="https://www.wrrc.hawaii.edu/wp-content/uploads/2020/12/wrrc-main-logo.svg" alt="WRRC" class="partner-logo">
            </a>
            <a href="https://www.aspower.com/Intro.html" class="partner-link">
                <img src="https://www.aspower.com/img/sidebuttons/aspalogo.png" alt="ASPA" class="partner-logo">
            </a>
            <a href="https://www.pacificrisa.org/" class="partner-link">
                <img src="https://www.pacificrisa.org/wp-content/uploads/2024/08/Pacific_RISA_logo_LONG_white.png" alt="Pacific Risa" class="partner-logo">
            </a>
            <a href="https://manoa.hawaii.edu/" class="partner-link">
                <img src="https://wp.logos-download.com/wp-content/uploads/2021/01/University_of_Hawaii_at_Manoa_Logo-604x700.png" alt="UH Manoa" class="partner-logo">
            </a>
            <a href="https://www.ulupono.com/" class="partner-link">
                <img src="https://www.ulupono.com/media/sw3pxwwe/logo.png" alt="Ulupono" class="partner-logo">
            </a>
            <a href="https://www.epa.gov/" class="partner-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Seal_of_the_United_States_Environmental_Protection_Agency.svg" alt="EPA" class="partner-logo">
            </a>
            <a href="https://cpo.noaa.gov/" class="partner-link">
                <img src="https://cpo.noaa.gov/wp-content/uploads/2023/05/Climate-Program-Office-768x114.png" alt="NOAA CPO" class="partner-logo">
            </a>
            <a href="https://pi-casc.soest.hawaii.edu/" class="partner-link">
                <img src="https://pi-casc.soest.hawaii.edu/wp-content/uploads/thegem/logos/logo_c4475b813f47281b5812a43b3077c0fb_2x.png" alt="PICASC" class="partner-logo">
            </a>
            <a href="https://www.usgs.gov/" class="partner-link">
                <img src="https://www.usgs.gov/themes/custom/usgs_tantalum/usgs_logo.png" alt="USGS" class="partner-logo">
            </a>
        </div>
    </div>
</footer>